body {
				background-image: url("image/bg.JPEG");
			        background-repeat:no-repeat;
			       background-size:cover;
    }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}

section{

	padding: 10rem 0;
}

.head{
	text-transform: uppercase;
	font-size: 3.5rem;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 5rem;
	text-align: center;
	color: #fff;
	position: relative;
}
.head::after{
	content: " ";
	width: 10rem;
	height: .8rem;
	position: absolute;
	bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
}

.profile-member{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
.card{
	width:32rem;
	background-color: #ebeef8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2) 
}
.card .pic-top{
	width: 100%;
	height: 26rem;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
	clip-path: (0 0, 100% 0, 100% 78%, 0 100%);
}
.pic{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -11rem;
	z-index: 999;
	border: 1rem solid #ebeef8;
}

.card h2{
	font-size: 2.5rem;
	color: #333;
	margin: 1.5rem 0;
}
.position{
	color: #777;
	font-size: 1.5rem;
	font-weight: 300;
}
.about{
	font-size: 1.5rem;
	margin:1.5rem 0;
	font-style: italic;
	text-align: center;
	color: #333;
}
.card .battom{
	padding: 1rem 2.5rem;
	background-color: red;
	border-radius: 2rem;
	margin: 1rem 0;
	text-transform: uppercase;
	color: #eee;
	font-size: 1.4rem;
	transition: all .5s;
}
.card .battom:hover{

}
.card .battom:active{

}
/* responsive */
@media screen and (min-width: 700px){
	.profile-member{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.card{
		margin: 2rem;
		transition: transform .5s;
	}
	
	/* animation for profiles*/

	@keyframes fadeIn{
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
	.card:nth-child(1){
		animation: fadeIn .5s .5S backwards;
	}
	.card:nth-child(2){
		animation: fadeIn .5s 1S backwards;
	}
	.card:nth-child(3){
		animation: fadeIn .5s 1.5S backwards;
	}
	.card:hover{
		transform: scale(1.05);
	}
}
.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}